<h1>Listing shelves</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for shelf in @shelves %>
  <tr>
    <td><%=h shelf.name %></td>
    <td><%= link_to 'Show', shelf %></td>
    <td><%= link_to 'Edit', edit_shelf_path(shelf) %></td>
    <td><%= link_to 'Destroy', shelf, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New shelf', new_shelf_path %>
